@import './_mixins/typography.scss';
@import './_mixins/layout.scss';
@import './_mixins/utilities.scss';
@import './_import/variables.scss';
@import './_import/reset.scss';
@import './_styles/transitions.scss';

@include grid-containers($grid-breakpoints, $grid-max-widths, $grid-count); 

$min-font-size: 14px;
$max-font-size: 20px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

@include margin-utilities($spacers);
@include padding-utilities($spacers);
@include text-utilities($grid-breakpoints, $grid-max-widths);

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min-page-size, $max-page-size, $mod_1*$mod_1*$mod_1 *$min-font-size, $mod_2*$mod_2*$mod_2 *$min-font-size);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min-page-size, $max-page-size, $mod_1*$mod_1*$mod_1 *$min-font-size, $mod_2*$mod_2*$mod_2 *$min-font-size);
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min-page-size,$max-page-size, $mod_1*$mod_1 *$min-font-size, $mod_2*$mod_2 *$min-font-size);
}
