p {
  margin-bottom: .8rem;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-left: .3rem;
}

button,
input[type=submit] {
  border-style: none;
}

input
{
  &[type=text],
  &[type=password],
  &[type=email],
  &[type=search],
  &[type=tel],
  &[type=url]
  {
    @include input-box();
  }
}