.ss-alert {
  display: block;

  border-width: 2px;
  border-style: solid;
  border-color: $color-grey-dark;
  background-color: $color-grey-light;
  border-radius: 5px;

  padding: .8rem;

  color: $color-grey-charcoal;

  .ss-alert-heading {
    font-weight: 700;
    margin-bottom: .8rem;
  }

  &.ss-alert-danger {
    background-color: $color-danger-bg;
    color: $color-danger;
    border-color: $color-danger;
  }

  &.ss-alert-info {
    background-color: $color-info-bg;
    color: $color-info;
    border-color: $color-info;
  }

  &.ss-alert-success {
    background-color: $color-success-bg;
    color: $color-success;
    border-color: $color-success;
  }

  &.ss-alert-warning {
    background-color: $color-warning-bg;
    color: $color-warning;
    border-color: $color-warning;
  }
}
