.container {
    margin: .8rem auto;
    width:100%;
}

.container > .row {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: .8rem;
    width:100%;
}

.container > .row > * {
    grid-column: col-start / span 12;
}

img,
iframe,
video,
object { 
    max-width: 100%;  
}

/**
 * Create css classes based on breakpoints and their corresponding widths (@see variables.scss) and column count
 */
@mixin grid-containers($breakpoints, $widths, $cols) {
    @each $label, $width in $widths {
        @media screen and (min-width: #{map-get($breakpoints, $label)}) {
            .container {
                width: $width;
            }

            .container > .row{
                width: $width;
            }

            .hide-#{$label} {
                display: none;
            }

            .show-#{$label} {
                display: block;
            }

            @include grid-columns($cols, $label);
        }
    }
}

/**
 * Create css classes for grid columns
 */
@mixin grid-columns($cols, $size-label) {
    @for $i from 1 through $cols {
        .container > .row > .col-#{$size-label}-#{$i} {
            grid-column: auto / span #{$i};
        }

        @if $i != 12 {
            .container > .row > .offset-#{$size-label}-#{$i} {
                grid-column-start: #{$i + 1} !important;
            }
        }
    }
}

/**
 * Attach a clearfix to a css rule
 */
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}