@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

/**
 * Resizes font based on min to max screen sizes, and min to max font sizes

 * @param $min-vw min screen size
 * @param $max-vw max screen size
 * @param $min-font-size min font size
 * @param $$max-font-size max font size
 */
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            line-height: calc(#{$min-font-size} * 1.25);
            @media screen and (min-width: $min-vw) {
                $fontSize: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
                font-size: $fontSize;
                line-height: calc(#{$fontSize} * 1.25);
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
                line-height: calc(#{$max-font-size} * 1.25);
            }
        }
    }
}