$grid-breakpoints: (
    'xs':   0,
    'sm':   480px,
    'smd':  640px,
    'md':   768px,
    'mdlg': 960px,
    'lg':   1024px,
    'xl':   1170px,
    'xxl':  1200px
);

$grid-max-widths: (
    'xs': 100%,
    'sm': 480px,
    'smd': 576px,
    'md':   720px,
    'mdlg': 880px,
    'lg':   1000px,
    'xl':   1024px,
    'xxl':  1170px
);

$grid-count: 12;

$min-page-size: 320px;
$max-page-size: map-get($grid-breakpoints, 'xxl');
$min-font-size: 12px;
$max-font-size: 18px;

$min-font-sm-size: 11px;
$max-font-sm-size: 14px;

$min-font-xs-size: 8px;
$max-font-xs-size: 12px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;