@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes fadeUp { from { opacity:0; top:50px} to { opacity:1; top: 0} }
@-moz-keyframes fadeUp { from { opacity:0; top:50px} to { opacity:1; top: 0} }
@keyframes fadeUp { from { opacity:0; top:50px} to { opacity:1; top: 0} }

.fade-up {
    position: relative;
    opacity:0;
    top:50px;
    -webkit-animation:fadeUp ease-in 1;
    -moz-animation:fadeUp ease-in 1;
    animation:fadeUp ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes moveUp { from { top:50px; } to { top:0; } }
@-moz-keyframes moveUp { from { top:50px; } to { top:0; } }
@keyframes moveUp { from { top:50px; } to { top:0; } }

.move-up {
    position: relative;
    top:50px;
    -webkit-animation:moveUp ease-in 1;
    -moz-animation:moveUp ease-in 1;
    animation:moveUp ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

